 /******************************************
Treehouse Techdegree:
FSJS project 4 - OOP Game App
Name: Brandon White
Date of Last Modification: 23/08/2019
emoji.css
******************************************/

/* Emoji Theme (Popular Idioms) */

body {
    background: url('../images/emoji_bkgd.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}