/* ======================================
             Secondary Styles 
   ====================================== */

/* Main */

body {
    margin: 0;
}

/* Phrase */

li, ol, ul {
    white-space: nowrap;
}

.break {
    display: block;
}

/* Category */

#category p {
    font-size: var(--font-size-medium);
    color: #fff;
    border: 2px solid rgba(0, 0, 0, .4);
    background: #3a3f58;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 5px;
}

/* Instructional Paragraphs */

#banner p,
#hint p {
    background: rgba(210, 210, 210, .1);
    width: fit-content;
    margin: 16px auto;
    padding: inherit;
    border-radius: 5px;
}

#banner p {
    padding: 0;
}

/* Hint Button */

#get-hint {
    font-size: var(--font-size-medium);
    color: #fff;
    border: 2px solid rgba(0, 0, 0, .4);
    background: #3a3f58;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#get-hint:hover {
    background: #333;
}


/***********************************
            MEDIA QUERIES
 ***********************************/

 @media screen and (max-height: 768px) {
    /* ↓ keeps div#banner from disappearing on wrap */
    .main-container {
        justify-content: normal;
    }

 }