 /******************************************
Treehouse Techdegree:
FSJS project 4 - OOP Game App
Name: Brandon White
Date of Last Modification: 23/08/2019
philosophy.css
******************************************/

/* Philosophy Theme */

body {
    background: url('../images/philosophy_bkgd.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}