  /******************************************
Treehouse Techdegree:
FSJS project 4 - OOP Game App
Name: Brandon White
Date of Last Modification: 23/08/2019
superhero.css
******************************************/

/* Superhero Theme */

 body {
    background: #ffff20;
    background: url('../images/superhero_bkgd.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#banner {
    background-image: url('../images/batman_logo.png');
    background-size: 400px 160px;
    background-repeat: no-repeat;
    background-position: center;
}
.show {
    color: black;
    background-color: yellow;
    border: .5px solid black;
}
.chosen {
    background-color: blue;
}
.wrong {
    background-color: red;
}
